@import "tailwindcss";

body {
  background-color: #0a0a0a; /* Deep, dark background */
  color: #ffffff;
  overflow-x: hidden; /* Prevents horizontal scrolling from animations */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}